
<ion-header class="no-shadow">

  <!-- <ion-navbar class="no-border" color="bee" hideBackButton >
    <ion-title>
      <ion-icon name="cog" class="text-primary"></ion-icon>
      <span class="text-primary">Paramétrage</span>
    </ion-title>
  </ion-navbar> -->

  <ion-toolbar color="bee">
      <ion-buttons left>
          <button ion-button icon-only color="dark" (click)="downloadParametrageServer($event)">
                <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>DownLoad
          </button>
        </ion-buttons>
      <ion-title text-center color="dark">
          <ion-icon name="cog" class="text-dark"></ion-icon>
          <span class="text-dark">Paramétrage</span>
      </ion-title>
      <ion-buttons right>
        <button ion-button icon-only color="dark" (click)="goToMenu()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>Back
        </button>
      </ion-buttons>
      
    </ion-toolbar>

</ion-header>

<ion-content class="common-bg">

    <!-- <ion-item-divider color="secondary" class="bold">Projets & Questionnaires
      <button item-content  ion-button margin item-right color="bee" (click)="downloadParametrageServer($event)">Reload</button>
    </ion-item-divider> -->

    <ion-item-divider color="dark" class="bold" [ngStyle]="{'height':'5%'}">Projets</ion-item-divider>
    
    <ion-grid [ngStyle]="{'width':'100%', 'height':'28%', 'overflow-y': 'scroll', 'overflow-x': 'hidden'}" >
        <!-- <ion-row>
            <ion-col text-center [ngStyle]="{ 'height':'100%', 'background-color': 'black', 'color': 'yellow'}">
                Projets
            </ion-col >     
          </ion-row> -->
        <ion-row>
          <ion-col>
              <ion-list  radio-group [(ngModel)]="compaignSelected">
                  <ion-item *ngFor="let compaign of compaigns">         
                    <ion-label>{{compaign.name}}</ion-label>
                  <ion-radio color="danger" value="{{compaign.id}}" item-left (ionSelect)="compaignChecked(compaign.id)"></ion-radio>       
                  </ion-item>    
              </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- ****************************************************************************** -->
      <ion-item-divider color="dark" class="bold" [ngStyle]="{'height':'5%'}">Questionnaires</ion-item-divider>

      <ion-grid [ngStyle]="{'width':'100%', 'height':'28%', 'overflow-y': 'scroll', 'overflow-x': 'hidden'}" >
          <!-- <ion-row>
              <ion-col text-center [ngStyle]="{ 'height':'100%', 'background-color': 'black', 'color': 'yellow'}">
                  Questionnaires
              </ion-col >     
            </ion-row> -->
          <ion-row>
              <ion-col>
                  <ion-list *ngFor="let form of forms">
                      <ion-item  *ngIf="form.id_projet == compaignSelected">
                          <ion-grid  margin-left>
                              <ion-row  >
                                  <ion-col center col-2>
                                      <div item-center [ngStyle]="{'width':'20px', 'height':'20px', 'background-color': form.color}" ></div>
                                  </ion-col>
                                  <ion-col center col-8>
                                      {{form.name}} - {{form.color}} - {{form.id_projet}}
                                  </ion-col>
                                </ion-row>
                          </ion-grid>                      
                      </ion-item>
                  </ion-list>
              </ion-col>
          </ion-row>
        </ion-grid>
  
        <!-- ****************************************************************************** -->
        <ion-item-divider color="dark" class="bold" [ngStyle]="{'height':'5%'}"> Zones de Travail</ion-item-divider>

      <ion-grid [ngStyle]= "{'width':'100%', 'height':'28%', 'overflow-y': 'scroll', 'overflow-x': 'hidden'}">
          <!-- <ion-row>
              <ion-col text-center [ngStyle]="{'height':'100%', 'background-color': 'black', 'color': 'yellow'}">
                  Zones de Travails
              </ion-col >
            </ion-row> -->
          <ion-row>
            <ion-col>
                <ion-list *ngFor="let zone of zones">
                    <ion-item *ngIf="zone.id_projet == compaignSelected">
                        <ion-grid margin-left>
                            <ion-row>
                                <ion-col center col-2 text-left>
                                    <img class="logo" src="assets/imgs/ruche.png" [ngStyle]="{'width':'20px', 'height':'20px'}" />
                                </ion-col>
                                <ion-col center col-8>
                                    {{zone.name}} - {{zone.id_projet}}
                                </ion-col>
                              </ion-row>
                        </ion-grid>   
                    </ion-item>
                </ion-list>
             </ion-col>
           </ion-row>
        </ion-grid>
  

    <!-- <table class="table">
        <tr>
            <th>Projets</th> 
            <th>Questionnaires</th>
        </tr>
        <tr>
            <td>
                <ion-list  radio-group [(ngModel)]="relationship">
                    <ion-item *ngFor="let option of options">         
                      <ion-label>{{option.name}}</ion-label>
                    <ion-radio value="{{option.id}}" item-left></ion-radio>       
                    </ion-item>    
                </ion-list>
            </td>
            <td>
                <ion-list>
                    <ion-item *ngFor="let iten of itemList">{{iten.title}}</ion-item>
                </ion-list>
            </td>
        </tr>
    </table>  -->


  </ion-content>
  

   